# Monitoring Server's Temperature With SQLite3 in Real Time

<img src="https://github.com/leehaesung/Monitor_MyServer_CPUTemperature/raw/master/01_Images/MonitoringCPUTemp.png" height="400" width="450" >

* How to install Paho-MQTT:

    ```
    sudo pip install paho-mqtt
    ```

## CREATE TABLE

* SQLite <b>CREATE TABLE</b> statement is used to <b>create</b> a new table in any of the given database. Creating a basic table involves naming the table and defining its columns and each column's data type.

In [3]:
import sqlite3

conn = sqlite3.connect('sqliteCpu02')
conn.execute('''CREATE TABLE HOME
         (TIME INT PRIMARY KEY     NOT NULL,
         LOCAL           INT    NOT NULL,
         TEMP            INT     NOT NULL);''')
print "Table created successfully";

conn.close()

Table created successfully

## INSERT QUERY FOR UNIT TESTING

* SQLite <b>INSERT INTO</b> Statement is used to <b>add</b> new rows of data into a table in the database.

In [4]:
import sqlite3

conn = sqlite3.connect('sqliteCpu02')
print "Opened database successfully";

conn.execute("INSERT INTO HOME (TIME,LOCAL,TEMP) \
      VALUES (1511959596275, 171129234636, 35.7 )");

conn.commit()
print "Records created successfully";
conn.close()

Opened database successfully
Records created successfully

## SEARCH THE SPECIFIC TEMPERATURE DATA

In [1]:
import sqlite3

conn = sqlite3.connect('sqliteCpu02')
print "Opened database successfully";

cursor = conn.execute("SELECT * from HOME WHERE TEMP = 36.7")
for row in cursor:
   print "Timestamp   = ", row[0]
   print "Local Time  = ", row[1]
   print "Temperature = ", row[2], "\n"
   

print "Operation done successfully";
conn.close()

Opened database successfully
Timestamp   =  1512038541428
Local Time  =  171130214221
Temperature =  36.7

Timestamp   =  1512038571443
Local Time  =  171130214251
Temperature =  36.7

Timestamp   =  1512038601456
Local Time  =  171130214321
Temperature =  36.7

Timestamp   =  1512038611113
Local Time  =  171130214331
Temperature =  36.7

Timestamp   =  1512038620961
Local Time  =  171130214340
Temperature =  36.7

Timestamp   =  1512038630974
Local Time  =  171130214350
Temperature =  36.7

Timestamp   =  1512038640992
Local Time  =  171130214400
Temperature =  36.7

Operation done successfully

In [2]:
#!/usr/bin/python

import sqlite3

conn = sqlite3.connect('sqliteCpu02')
print "Opened database successfully"
print ""
print(" Timestamp    | Local Time  | Temperature")
print("====================================================")
cursor = conn.execute("SELECT * from HOME WHERE TEMP = 36.7")
for row in cursor:
    print(row[0],row[1],row[2])
    
conn.close()

Opened database successfully

 Timestamp    | Local Time  | Temperature
====================================================
(1512038541428, 171130214221, 36.7)
(1512038571443, 171130214251, 36.7)
(1512038601456, 171130214321, 36.7)
(1512038611113, 171130214331, 36.7)
(1512038620961, 171130214340, 36.7)
(1512038630974, 171130214350, 36.7)
(1512038640992, 171130214400, 36.7)

In [3]:
import sqlite3

def search_temperature(temp):
    conn = sqlite3.connect('sqliteCpu02')

    str1 = "SELECT * FROM HOME WHERE TEMP = "
    str2 = str(temp)
    str3 = ";"
    sql = str1 + str2 + str3
    cursor = conn.execute(sql)

    print "Opened database successfully"
    print ""
    print(" Timestamp    | Local Time  | Temperature")
    print("====================================================")
    
    for row in cursor:
        print(row[0],row[1],row[2])

In [4]:
# Put any temperature.
search_temperature(36.7)

Opened database successfully

 Timestamp    | Local Time  | Temperature
====================================================
(1512038541428, 171130214221, 36.7)
(1512038571443, 171130214251, 36.7)
(1512038601456, 171130214321, 36.7)
(1512038611113, 171130214331, 36.7)
(1512038620961, 171130214340, 36.7)
(1512038630974, 171130214350, 36.7)
(1512038640992, 171130214400, 36.7)

# Eclipse Pahoâ„¢ MQTT Python Pub/Sub Client

In [10]:
import sys
try:
    import paho.mqtt.subscribe as subscribe
except ImportError:
    # This part is only required to run the example from within the examples
    # directory when the module itself is not installed.
    #
    # If you have the module installed, just use "import paho.mqtt.subscribe"
    import os
    import inspect
    cmd_subfolder = os.path.realpath(os.path.abspath(os.path.join(os.path.split(inspect.getfile( inspect.currentframe() ))[0],"../src")))
    if cmd_subfolder not in sys.path:
        sys.path.insert(0, cmd_subfolder)
    import paho.mqtt.subscribe as subscribe
    import paho.mqtt.client

topics = ['laptopCpuTemp']

m = subscribe.simple(topics, hostname="iot.eclipse.org", retained=False, msg_count=2)
for a in m:
    print(a.topic)
    print(a.payload)

laptopCpuTemp
{"data":{"time":1512009913048,"local":171130134513,"temp":37.5}}
laptopCpuTemp
{"data":{"time":1512009943055,"local":171130134543,"temp":37.6}}

In [ ]:
import sys
try:
    import paho.mqtt.subscribe as subscribe
except ImportError:
    # This part is only required to run the example from within the examples
    # directory when the module itself is not installed.
    #
    # If you have the module installed, just use "import paho.mqtt.subscribe"
    import os
    import inspect
    cmd_subfolder = os.path.realpath(os.path.abspath(os.path.join(os.path.split(inspect.getfile( inspect.currentframe() ))[0],"../src")))
    if cmd_subfolder not in sys.path:
        sys.path.insert(0, cmd_subfolder)
    import paho.mqtt.subscribe as subscribe
    import paho.mqtt.client

def print_msg(client, userdata, message):
    print("%s : %s" % (message.topic, message.payload))
    buf = message.payload
    
subscribe.callback(print_msg, "laptopCpuTemp", hostname="iot.eclipse.org")

laptopCpuTemp : {"data":{"time":1512009973069,"local":171130134613,"temp":37.6}}
laptopCpuTemp : {"data":{"time":1512010003076,"local":171130134643,"temp":37.6}}
laptopCpuTemp : {"data":{"time":1512010033092,"local":171130134713,"temp":37.5}}
laptopCpuTemp : {"data":{"time":1512010063103,"local":171130134743,"temp":37.5}}
laptopCpuTemp : {"data":{"time":1512010093119,"local":171130134813,"temp":37.4}}
laptopCpuTemp : {"data":{"time":1512010123137,"local":171130134843,"temp":37.3}}

##  INSERT QUERY IN REAL TIME

* SQLite <b>INSERT INTO</b> Statement is used to <b>add</b> new rows of data into a table in the database.

In [ ]:
import sys 
import sqlite3

conn = sqlite3.connect('sqliteCpu02')
print "Opened database successfully";
print ""
print "INSERT OPERATION"
print(" Timestamp      | Local Time    | Temperature")
print("====================================================")

try:
    import paho.mqtt.subscribe as subscribe
except ImportError:
    # This part is only required to run the example from within the examples
    # directory when the module itself is not installed.
    #
    # If you have the module installed, just use "import paho.mqtt.subscribe"
    import os
    import inspect
    cmd_subfolder = os.path.realpath(os.path.abspath(os.path.join(os.path.split(inspect.getfile( inspect.currentframe() ))[0],"../src")))
    if cmd_subfolder not in sys.path:
        sys.path.insert(0, cmd_subfolder)
    import paho.mqtt.subscribe as subscribe
    import paho.mqtt.client

def print_msg(client, userdata, message):
    #print("%s : %s" % (message.topic, message.payload))
    data = message.payload
    # {"data":{"time":1511964507557,"local":171130010827,"temp":34.3}}
    time = str((data[16:-33]).replace(',"', ''))
    local = str((data[38:-12]).replace(',"', ''))
    temp = str(data[58:-2])
    print(time, local, temp)
    
    str1 = "INSERT INTO HOME (TIME,LOCAL,TEMP) \
      VALUES ("
    str2 = time 
    str3 = ", "
    str4 = local
    str5 = ", "
    str6 = temp
    str7 = " )"
    insert = str1 + str2 + str3 + str4 + str5 + str6 + str7
    conn.execute(insert)
    conn.commit()

subscribe.callback(print_msg, "laptopCpuTemp", hostname="iot.eclipse.org")

Opened database successfully

INSERT OPERATION
 Timestamp      | Local Time    | Temperature
====================================================
('1512197057875', '171202174417', '34.6')
('1512197087883', '171202174447', '34.7')
('1512197117891', '171202174517', '34.7')
('1512197147902', '171202174547', '34.8')
('1512197177910', '171202174617', '34.8')
('1512197207919', '171202174647', '34.9')
('1512197237930', '171202174717', '34.8')
('1512197267946', '171202174747', '34.8')
('1512197297959', '171202174817', '34.7')
('1512197327968', '171202174847', '34.6')
('1512197357981', '171202174917', '34.5')
('1512197387988', '171202174947', '34.5')
('1512197417997', '171202175017', '34.5')
('1512197448005', '171202175048', '34.5')
('1512197478014', '171202175118', '34.4')
('1512197508022', '171202175148', '34.5')
('1512197538029', '171202175218', '34.5')
('1512197568037', '171202175248', '34.5')
('1512197598047', '171202175318', '34.6')
('1512197628057', '171202175348', '34.6')
('1512197658076', '171202175418', '34.6')
('1512197688095', '171202175448', '34.7')
('1512197718108', '171202175518', '34.7')
('1512197748123', '171202175548', '34.8')
('1512197778130', '171202175618', '35')
('1512197808139', '171202175648', '35.1')
('1512197838146', '171202175718', '35.1')
('1512197868163', '171202175748', '35.2')
('1512197898170', '171202175818', '35.2')
('1512197928177', '171202175848', '35.3')
('1512197958184', '171202175918', '35.4')
('1512197988191', '171202175948', '35.5')
('1512198018200', '171202180018', '35.5')
('1512198048213', '171202180048', '35.5')
('1512198078236', '171202180118', '35.6')
('1512198108246', '171202180148', '35.7')

## SELECT QUERY

* SQLite <b>SELECT</b> statement is used to <b>fetch</b> the data from a SQLite database table which returns data in the form of a result table. These result tables are also called result sets.

In [10]:
#!/usr/bin/python

import sqlite3

conn = sqlite3.connect('sqliteCpu02')
print "Opened database successfully"
print ""
print(" Timestamp    | Local Time  | Temperature")
print("====================================================")
cursor = conn.execute("SELECT * from HOME WHERE TEMP;")
for row in cursor:
    print(row[0],row[1],row[2])
    
conn.close()

Opened database successfully

 Timestamp    | Local Time  | Temperature
====================================================
(1511959596275, 171129234636, 35.7)
(1512038421376, 171130214021, 36.9)
(1512038451388, 171130214051, 36.8)
(1512038481404, 171130214121, 36.8)
(1512038511410, 171130214151, 36.8)
(1512038541428, 171130214221, 36.7)
(1512038571443, 171130214251, 36.7)
(1512038601456, 171130214321, 36.7)
(1512038611113, 171130214331, 36.7)
(1512038620961, 171130214340, 36.7)
(1512038630974, 171130214350, 36.7)
(1512038640992, 171130214400, 36.7)
(1512038651003, 171130214411, 36.6)
(1512038661017, 171130214421, 36.6)
(1512038671023, 171130214431, 36.6)
(1512038681034, 171130214441, 36.6)
(1512038691044, 171130214451, 36.6)
(1512038701063, 171130214501, 36.6)
(1512038711069, 171130214511, 36.6)
(1512038721077, 171130214521, 36.6)
(1512038731083, 171130214531, 36.6)
(1512038741094, 171130214541, 36.6)
(1512038751104, 171130214551, 36.6)
(1512038761116, 171130214601, 36.5)
(1512038771131, 171130214611, 36.5)
(1512038781149, 171130214621, 36.5)
(1512038791158, 171130214631, 36.5)
(1512038801170, 171130214641, 36.5)
(1512038811175, 171130214651, 36.4)
(1512038821191, 171130214701, 36.4)
(1512038831196, 171130214711, 36.4)
(1512038841210, 171130214721, 36.4)
(1512038851217, 171130214731, 36.3)
(1512038861227, 171130214741, 36.3)
(1512038871233, 171130214751, 36.3)
(1512038881254, 171130214801, 36.3)
(1512038891260, 171130214811, 36.3)
(1512038901271, 171130214821, 36.2)
(1512038911277, 171130214831, 36.2)
(1512038921283, 171130214841, 36.2)
(1512038931291, 171130214851, 36.2)
(1512038941301, 171130214901, 36.2)
(1512197057875, 171202174417, 34.6)
(1512197087883, 171202174447, 34.7)
(1512197117891, 171202174517, 34.7)
(1512197147902, 171202174547, 34.8)
(1512197177910, 171202174617, 34.8)
(1512197207919, 171202174647, 34.9)
(1512197237930, 171202174717, 34.8)
(1512197267946, 171202174747, 34.8)
(1512197297959, 171202174817, 34.7)
(1512197327968, 171202174847, 34.6)
(1512197357981, 171202174917, 34.5)
(1512197387988, 171202174947, 34.5)
(1512197417997, 171202175017, 34.5)
(1512197448005, 171202175048, 34.5)
(1512197478014, 171202175118, 34.4)
(1512197508022, 171202175148, 34.5)
(1512197538029, 171202175218, 34.5)
(1512197568037, 171202175248, 34.5)
(1512197598047, 171202175318, 34.6)
(1512197628057, 171202175348, 34.6)
(1512197658076, 171202175418, 34.6)
(1512197688095, 171202175448, 34.7)
(1512197718108, 171202175518, 34.7)
(1512197748123, 171202175548, 34.8)
(1512197778130, 171202175618, 35)
(1512197808139, 171202175648, 35.1)
(1512197838146, 171202175718, 35.1)
(1512197868163, 171202175748, 35.2)
(1512197898170, 171202175818, 35.2)
(1512197928177, 171202175848, 35.3)
(1512197958184, 171202175918, 35.4)
(1512197988191, 171202175948, 35.5)
(1512198018200, 171202180018, 35.5)

## DELETE QUERY

* SQLite <b>DELETE QUERY</b> is used to <b>delete</b> the existing records from a table. You can use WHERE clause with <b>DELETE QUERY</b> to <b>delete</b> the selected rows, otherwise all the records would be deleted.

In [19]:
import sqlite3

conn = sqlite3.connect('sqliteCpu02')
print "Opened database successfully";

conn.execute("DELETE from HOME where LOCAL = 171202175948;")
conn.commit()
print "Total number of rows deleted :", conn.total_changes

print ""
print(" Timestamp    | Local Time  | Temperature")
print("====================================================")
cursor = conn.execute("SELECT * from HOME")
for row in cursor:
    print(row[0],row[1],row[2])

print "Operation done successfully";
conn.close()

Opened database successfully
Total number of rows deleted : 0

 Timestamp    | Local Time  | Temperature
====================================================
(1511959596275, 171129234636, 35.7)
(1512038421376, 171130214021, 36.9)
(1512038451388, 171130214051, 36.8)
(1512038481404, 171130214121, 36.8)
(1512038511410, 171130214151, 36.8)
(1512038541428, 171130214221, 36.7)
(1512038571443, 171130214251, 36.7)
(1512038601456, 171130214321, 36.7)
(1512038611113, 171130214331, 36.7)
(1512038620961, 171130214340, 36.7)
(1512038630974, 171130214350, 36.7)
(1512038640992, 171130214400, 36.7)
(1512038651003, 171130214411, 36.6)
(1512038661017, 171130214421, 36.6)
(1512038671023, 171130214431, 36.6)
(1512038681034, 171130214441, 36.6)
(1512038691044, 171130214451, 36.6)
(1512038701063, 171130214501, 36.6)
(1512038711069, 171130214511, 36.6)
(1512038721077, 171130214521, 36.6)
(1512038731083, 171130214531, 36.6)
(1512038741094, 171130214541, 36.6)
(1512038751104, 171130214551, 36.6)
(1512038761116, 171130214601, 36.5)
(1512038771131, 171130214611, 36.5)
(1512038781149, 171130214621, 36.5)
(1512038791158, 171130214631, 36.5)
(1512038801170, 171130214641, 36.5)
(1512038811175, 171130214651, 36.4)
(1512038821191, 171130214701, 36.4)
(1512038831196, 171130214711, 36.4)
(1512038841210, 171130214721, 36.4)
(1512038851217, 171130214731, 36.3)
(1512038861227, 171130214741, 36.3)
(1512038871233, 171130214751, 36.3)
(1512038881254, 171130214801, 36.3)
(1512038891260, 171130214811, 36.3)
(1512038901271, 171130214821, 36.2)
(1512038911277, 171130214831, 36.2)
(1512038921283, 171130214841, 36.2)
(1512038931291, 171130214851, 36.2)
(1512038941301, 171130214901, 36.2)
(1512197057875, 171202174417, 34.6)
(1512197087883, 171202174447, 34.7)
(1512197117891, 171202174517, 34.7)
(1512197147902, 171202174547, 34.8)
(1512197177910, 171202174617, 34.8)
(1512197207919, 171202174647, 34.9)
(1512197237930, 171202174717, 34.8)
(1512197267946, 171202174747, 34.8)
(1512197297959, 171202174817, 34.7)
(1512197327968, 171202174847, 34.6)
(1512197357981, 171202174917, 34.5)
(1512197387988, 171202174947, 34.5)
(1512197417997, 171202175017, 34.5)
(1512197448005, 171202175048, 34.5)
(1512197478014, 171202175118, 34.4)
(1512197508022, 171202175148, 34.5)
(1512197538029, 171202175218, 34.5)
(1512197568037, 171202175248, 34.5)
(1512197598047, 171202175318, 34.6)
(1512197628057, 171202175348, 34.6)
(1512197658076, 171202175418, 34.6)
(1512197688095, 171202175448, 34.7)
(1512197718108, 171202175518, 34.7)
(1512197748123, 171202175548, 34.8)
(1512197778130, 171202175618, 35)
(1512197808139, 171202175648, 35.1)
(1512197838146, 171202175718, 35.1)
(1512197868163, 171202175748, 35.2)
(1512197898170, 171202175818, 35.2)
(1512197928177, 171202175848, 35.3)
(1512197958184, 171202175918, 35.4)
(1512197988191, 171202175948, 35.5)
(1512198018200, 171202180018, 35.5)
Operation done successfully

# DROP TABLE

* SQLite <b>DROP TABLE</b> statement is used to <b>remove</b> a table definition and all associated data, indexes, triggers, constraints, and permission specifications for that table.

In [2]:
import sqlite3
conn = sqlite3.connect('sqliteCpu02')
cur = conn.cursor()
sql = "DROP TABLE HOME;"
cur.execute(sql)
print "Removed the table successfully"
conn.commit()
conn.close()

Deleted the table successfully

# REFERENCES

* SQLite Tutorial: https://www.tutorialspoint.com/sqlite/
* SQLite Quick Guide: https://www.tutorialspoint.com/sqlite/sqlite_quick_guide.htm
* SQLite - Python Tuotorial: https://www.tutorialspoint.com/sqlite/sqlite_python.htm
* SQLite - Python Quick Guide: https://github.com/leehaesung/SQLite-Python_Quick_Guide